.App {
  text-align: center;
  background-image: url('/public/stars.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}